{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Abimael Levi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}">

</head>
<body>
    <div class="container">
        <a class="sobremim" href="/"> <h1 class="center-text">Sobre Mim</h1> </a>
        <div class="image">
            <img src="{% static 'images/eu.jpg' %}" alt="Sua Foto">
        </div>
        <div class="text">
            <p>Meu nome é Abimael Levi, tenho {{idade}} anos e sou programador Python. Estou graduando em Análise e Desenvolvimento de sistemas pela Universidade Ateneu. Tenho como foco de estudo assuntos envolvendo programação, automação em python, machining Learning, Blockchain e Bitcoin. </p>
        </div>
    </div>
</body>
</html>