{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Abimael Levi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}">

</head>
<body>
    <a class="voltar" href="/"><h1>Dispositivos</h1></a>
    <h2>Desktop</h2>
        <p>Graphic Card - GTx 1660 super</p>
        <p>Processor - Intel Xeon E5 2650 v4</p>
        <p>Memory - 16G DDR4</p>
    <h2>Notebook</h2>
        <p>Processor - Ryzen 5 7500U </p>   

    
    
    
</body>
</html>